ion-button.login-btn,
ion-button.login-signup-btn {
  --background: #315ee7;
  height: 2.5rem;

  --border-radius: 9px;
  display: block;
}
ion-button.login-btn {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 3vh;
}
ion-button.login-signup-btn {
  --background: #0b0b0b;
  font-size: 1.1rem;
}
div.login-form {
  margin: 10vh 8% 0 8%;
}
div.login-account-label {
  text-align: center;
  margin-top: 11vh;
}
div.login-input{
	
	margin-top: 1rem;
	background:#F2F3F3 ;
	border-radius	:9px;
	font-size:1.2rem
}
ion-input.login-ion-input1{
	margin-left: 1rem;
}
div.login-signin-label{
	font-weight: bold;
	font-size: 4.5rem;
	font-family:Arial, Helvetica, sans-serif;
	color:#22215B
	
}
div.login-app-name{font-size: 2rem;font-family: Arial, Helvetica, sans-serif;color: #22215B;margin-top: 13vh;}

div.login-show-pw-label{
	margin-top: 2vh;
}