.profilePicMenu {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.profilePicEdit {
  width: 10rem;
  height: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.profilePicEditBtn {
  margin-left: auto;
  margin-right: auto;
}
.profilePicEditDiv{
  display:flex;
  justify-content: center;
}
.profilePicTopRight {
  width: 2rem;
  height: 100%;

}
.profileContent {
  --padding-start: 
  --padding-end: 
  --padding-top: 0;
  --padding-bottom: 0rem;
}
