:root {
	--ion-color-inputbg: #F2F3F3;
	--ion-color-inputbg-rgb: 242,243,243;
	--ion-color-inputbg-contrast: #000000;
	--ion-color-inputbg-contrast-rgb: 0,0,0;
	--ion-color-inputbg-shade: #d5d6d6;
	--ion-color-inputbg-tint: #f3f4f4;
}

.ion-color-inputbg {
	--ion-color-base: var(--ion-color-inputbg);
	--ion-color-base-rgb: var(--ion-color-inputbg-rgb);
	--ion-color-contrast: var(--ion-color-inputbg-contrast);
	--ion-color-contrast-rgb: var(--ion-color-inputbg-contrast-rgb);
	--ion-color-shade: var(--ion-color-inputbg-shade);
	--ion-color-tint: var(--ion-color-inputbg-tint);
}